<div class="main-container">
    <mat-toolbar class="toolbar">
        <div class="home-title">
            <mat-icon>home</mat-icon>
            <span>COVID-19-Vaccine Information System</span>
        </div>
        <div class="contact-info">
            <div class="op1">
                <mat-icon>contact_support</mat-icon>
                <div>About</div>
            </div>
            <div class="op2">
                <mat-icon>phone_in_talk</mat-icon>
                <div>Contact Us</div>
            </div>  
        </div>
    </mat-toolbar>
    <div class="main">
        <div class="banner-container">
            <mat-card class="banner-left">
                <div>
                    Help Stop The Spread of the <b>Virus</b><br>
                </div>
                <div>
                    Get <span>VACCINATED!</span>
                </div>
            </mat-card>
            <mat-card class="banner-right">
                <div class="welcome">
                    Login to your account.
                </div>
                <div class="form">
                    <form class="con" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                        <div class="form-group">
                            <label for="usernmae">Username</label>
                            <div class="field">
                                <mat-icon>person</mat-icon>
                                <input type="text" class="form-control ng-untouched ng-pristine ng-valid" id="name" required 
                                name="username" #username="ngModel" ngModel>
                            </div>
                            <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                                Username is required!
                            </div>     
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="field">
                                <mat-icon>vpn_key</mat-icon>
                                <input type="password" class="form-control ng-untouched ng-pristine ng-valid" id="alterEgo" required
                                name="password" #password="ngModel" ngModel>
                            </div> 
                            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                                Password is required!
                            </div>  
                        </div>
                        
                        <div class="form-group">
                            <form class="example-form">
                                <mat-form-field appearance="fill">
                                    <mat-label>Input</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </form>
                        </div>
                    
                    </form>
                </div>
                <div class="con1">
                    <button type="submit" [disabled]="!loginForm.form.valid" mat-button color="primary" mat-raised-button>Login</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>




