/*Side Nav*/
.main-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width:100%;
    height: 100vh;
    overflow-x: hidden;

    /*background-image: url('./assets/img/bg.svg');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
  .sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    position: fixed;
    background-color: #eee;
    width: 250px;
    box-sizing: unset;
  }
  .sidenav .side-content {
      width: 250px;

      display: grid;
      grid-template-rows: 100px 75px 75px 75px;
  }
  .sidenav .side-content .contentHeader{
    background-color: #685D79;
    border-bottom: 1px solid black;
    display: flex;
    gap: 12px;
  }
  .sidenav .side-content .contentHeader .header {
      
      color: #ffff;
      font-size: 1.25rem;

      display: flex;
      align-items: center;
      justify-content: center;
      gap:5px;

  }
  .sidenav .side-content .contentHeader .bar {
    height: 100%;
    width: 25px;
    background-color: #475C7A;
  }
  .sidenav .side-content .content a{
      width: 100%;
      height: 100%;
      font-size: 1.2rem;
      color:#000;

      display: flex;
      align-items: center;
      gap:18px;
  }
  .sidenav .side-content .content a mat-icon {
    color:#475C7A;

  }
  .sidenav .side-content .content {
    padding: 0 55px;

  }
  .sidenav .side-content .content:hover {
      background-color: #C5C6D0;
      cursor: pointer;  
      padding: 0 68px;
      transition: all 0.5s ease-in-out;
  }

  /*Tool Bar*/
  .toolbar {
    transition-delay: 0.5s;
    /*background-color: rgb(161, 161, 161);*/
    background-color: #475C7A;;

    display: flex;
    gap: 25px;
  }
  .toolbar span {
    color: white;
  }
  .toolbar .ham {
      cursor: pointer;
  }
  button {
    border: none;
    background-color: #475C7A;
  }
  /* Content Container */
  .contents {
    width: 100%;
    height: calc(100vh - 66px);

}
