<mat-drawer-container class="main-container">
    <mat-drawer class="sidenav" #drawer mode="side">
        <div class="side-content">
            <div class="contentHeader">
                <div class="bar"></div>
                <div class="header">
                    <div><mat-icon>health_and_safety</mat-icon></div>
                    <div><b>Rural Health Unit</b></div>
                </div>
                
            </div>
            <div class="content">
                <a routerLink="/overview">
                    <div><mat-icon>analytics</mat-icon></div>
                    <div>Overview</div>
                </a> 
            </div>
            <div class="content">
                <a routerLink="/recipient">
                    <div><mat-icon>face</mat-icon></div>
                    <div>Vaccine Recipient</div>
                </a>
            </div>
            <div class="content">
                <a routerLink="/first-dose">
                    <div><mat-icon>healing</mat-icon></div>
                    <div>First Dose</div>
                </a>
            </div>
            <div class="content">
                <a routerLink="/second-dose">
                    <div><mat-icon>spa</mat-icon></div>
                    <div>Second Dose</div>
                </a>
            </div>
            <div class="content">
                <a routerLink="/vaccine">
                    <div><mat-icon>vaccines</mat-icon></div>
                    <div>Vaccine</div>
                </a>
            </div>
            <div class="content">
                <a routerLink="/vaccine-administrator">
                    <div><mat-icon>local_hospital</mat-icon></div>
                    <div>Vaccine Administrator</div>
                </a>
            </div>
        </div>
    </mat-drawer>
    <mat-toolbar class="toolbar">
        <div>
            <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon class="ham">view_headline</mat-icon>
            </button>
            <span>COVID-19-Vaccine Information System</span>
        </div>
        <div class="logout-section">
            <button mat-button [matMenuTriggerFor]="beforeMenu"><mat-icon>admin_panel_settings</mat-icon></button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Log-Out</button>
            </mat-menu>
        </div>
        
    </mat-toolbar>
    <div class="contents">
        
    
    </div>
</mat-drawer-container>




